@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}

body {
  font-family: Arial;
  font-weight: 300;
  color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  max-width:initial;
}

/*Styling the header*/
header {
  font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
  font-family: 'Merriweather', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #3a3a3a;
}

#logo {
  float: left;
  font-size: 150%;
  margin-left: 30px;
}

#navigation {
  font-size: 120%;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation,
#logo {
  line-height: 75px;
}

.clear-both {
  clear: both;
}

/*Styling company description and background image*/
#home {
  padding-top: 20px;
  height: 250px;
  padding-top: 20px;
  background-image: url('../images/khreschatyk.jpg');
}

#image {
  height: auto;
  padding: 10px;
}

#about-us {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  padding-top: 40px;
  color: white;
}

/*Styling route destinations and image of the final destination*/
#routes-list li {
  list-style-type: none;
  color: #3a3a3a;
}

#routes {
  padding-left: 15px;
  padding-top: 20px;
  width: 100%;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#routes-list {
  font-size: 130%;
  margin-left: 0;
}

#big-route h2,
#big-route li {
  color: black;
}

img {
  height: 350px;
  padding-right: 45px;
  max-width: 100%;
  object-fit: cover;
}

#float-left {
  width: 100%;
}

#park-image {
  flex-basis: 100%;
}

/*Styling meeting times*/
#times {
  padding-top: 10px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

#monday-left {
  width: 33%;
  background-color: bisque;
  float: left;
}

#wednesday-center {
  width: 33%;
  background-color: lightgreen;
  display: inline-block;
}

#friday-right {
  width: 33%;
  background-color: bisque;
  float: right;
}

/*Styling sign up form and background image*/
#signup-form input {
  border: 1px solid #3a3a3a;
  border-radius: 5px;
}

#signup-form {
  box-sizing: border-box;
  background-image: url('../images/podil3.webp');
  min-height: 200px;
  background-size: cover;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#signup-form h2 {
  text-align: center;
  color: black;
}

form {
  left: 28px;
  top: 50px;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
}

label {
  color: black;
  font-size: 26px;
}

input[type=text],
input[type=tel],
input[type=email] {
  padding: 15px;
  margin: 15px 0;
  border: 2px solid black;
  width: 100%;
}

#submit {
  background-color: white;
  color: black;
  padding: 16px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

#submit:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.white-text {
  color: white;
}

/*Styling footer*/
#contact-us a {
  text-decoration: none;
  color: black;
}

#contact-us a:hover {
  text-decoration: underline;
}

#contact-us {
  text-align: center;
  background-color: bisque;
  width: 100%;
}

#contact-us li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}

#thankyou {
  clear: both;
  margin-top: 30px;
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
}
#thankyou-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
#thankyou-footer a {
  text-decoration: none;
  color: black;
}

#thankyou-footer a:hover {
  text-decoration: underline;
}

#thankyou-footer {
  text-align: center;
  background-color: bisque;
  width: 100%;
  
}

#thankyou-footer li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}

/*Styling webpage for screens max-width:1000px*/
@media screen and (max-width:1000px) {
  #navigation {
    padding-left: 10px;
  }

  #navigation ul {
    float: right;
  }

  #about-us {
    font-size: 3vw;
    padding: 10px;
    padding-top: 50px;
  }

  #navigation li {
    font-size: 3vw;
  }

  #monday-left {
    width: 100%;
  }

  #wednesday-center {
    width: 100%;
  }

  #friday-right {
    width: 100%;
    margin-bottom: 15px;
  }

  form{
    max-width:60%;
  }
}

/*Styling webpage for screens max-width:750px*/
@media screen and (max-width:750px) {
  #navigation li {
    font-size: 20px;
  }

  img {
    clear: both;
    float: left;
    padding-left: 0px;
  }

  #about-us {
    font-size: 20px;
  }

  #routes {
    padding-left: 15px;
    padding-top: 20px;
    width: 100%;
    padding-right: 30px;
    display: inline;
  }

  #big-route {
    padding-left: 15px;
    padding-right: 15px;
  }

  img {
    height: 350px;
    padding-right: 45px;
    max-width: 100%;
    object-fit: cover;
    display: inline;
  }

  #float-left {
    width: 100%;
  }

  #park-image {
    display: inline;
  }

  form{
    max-width:60%;
  }
}

@media screen and (max-width:540px) {
  #navigation li {
    font-size: 15px;
    margin-right: 14px;
  }

  form label {
    font-size: 20px;
  }

  form{
    max-width:60%;
  }
}

/*Styling webpage for screens max-width:400px*/
@media screen and (max-width:400px) {
  #about-us {
    font-size: 15px;
    padding-top: 40px;
  }

  #navigation li {
    font-size: 13px;
    margin-right: 10px;
  }
  form{
    max-width:60%;
  }
}

@media screen and (max-width:340px) {
  #navigation li {
    font-size: 13px;
    margin-right: 7px;
  }

  #logo {
    font-size: 130%;
  }
  form{
    max-width:60%;
  }
}